<ion-view view-title="身份认证">
    <ion-content class="rz" scroll="false">
        <div class="content">
            <a>
              <i class="icon ion-person"></i>
              <p>驾驶员信息</p>
            </a>
            <a></a>
            <a>
              <i class="icon ion-android-car"></i>
              <p>车辆信息</p>
            </a>
        </div>
        <button class="button button-small button-balanced" ng-click="sub()">
            申 请 认 证
        </button>

    </ion-content>
</ion-view>
