<ion-view view-title="找货" class="orders">

  <ion-content>

    <ion-list>
      <ion-item ng-repeat="order in orderList">
        <a  href="#/tabs/orders/{{ order.id }}">

          <div>
            <span class="time">{{ order.orderTime }}</span>
            <span class="state">{{ order.vehicleType }}</span>
          </div>
          <div class="route">
            <div>
              <span class="">
                  起点：
              </span>
              <span>
                {{ order.start }}
              </span>
              <div></div>
              <span class="">
                  终点：
              </span>
              <span>
                {{ order.end }}
              </span>
            </div>
            <span class="cost">{{ order.pay }}元</span>

          </div>
          <div class="remark">
              <span class="mytitle">
                  备注：
              </span>
              <span class="text">
                {{ order.remark }}
              </span>
          </div>
        </a>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
