<ion-view view-title="订单详情" class="orders-detail">

    <ion-content>

        <ion-item>
            <div class="route">
              <div>
                <div class="t">
                    起点：
                </div>
                <div class="place">
                  <span>
                      {{ order.start }}
                  </span>
                  <div></div>
                  <span>
                      {{ order.startDetail }}
                  </span>

                </div>

              </div>
              <div>
                <div class="t">
                        终点：
                </div>
                <div class="place">
                  <span>
                      {{ order.end }}
                  </span>
                <div></div>
                <span>
                    {{ order.endDetail }}
                </span>

              </div>

              </div>
                <div></div>
                <span class="">
                        时间：
                    </span>
                <span>
                        {{ order.transportTime }}
                </span>
                <div></div>
                <span class="">
                        车型：
                    </span>
                <span>
                        {{ order.vehicleType }}
                </span>
                <div></div>
                <span class="">
                        额外需求：
                    </span>
                <span>
                        {{ order.ad }}
                </span>
                <div></div>
                <span>
                        备注：
                    </span>
                <span class="remark">
                        {{ order.remark }}
                </span>
            </div>
            <div class="cost">
                <span class="num">{{ order.pay }}</span>
                <span>元</span>
            </div>
        </ion-item>
        <div id="container">

        </div>

        <ion-item class="">
            <span class="">
                联系人信息：
            </span>
            <div class="info">
                <div class="myitem">
                    <span class="s">
                    <i class="icon ion-android-person"></i>
                      {{ order.contactsName }}
                    </span>

                    <a class="button button-icon ion-ios-telephone"></a>

                </div>

            </div>
        </ion-item>
        <button class="button button-small button-balanced callCar-dt" ng-click="sub()">
            确 认 接 单
        </button>

    </ion-content>
</ion-view>
