<ion-view view-title="订单详情" class="orders-detail">

    <ion-content>

        <ion-item>
            <div class="route">
              <div class="tips">{{ order.orderStatus }}</div>
              <div>
                <div class="t">
                    起点：
                </div>
                <div class="place">
                  <span>
                      {{ order.start }}
                  </span>
                  <div></div>
                  <span>
                      {{ order.startDetail }}
                  </span>

                </div>

              </div>
              <div>
                <div class="t">
                        终点：
                </div>
                <div class="place">
                  <span>
                      {{ order.end }}
                  </span>
                <div></div>
                <span>
                    {{ order.endDetail }}
                </span>

              </div>

              </div>
                <div></div>
                <span class="">
                        时间：
                    </span>
                <span>
                        {{ order.transportTime }}
                </span>
                <div></div>
                <span class="">
                        车型：
                    </span>
                <span>
                        {{ order.vehicleType }}
                </span>
                <div></div>
                <span class="">
                        订单完成时间：
                    </span>
                <span>
                        {{ order.finishTime }}
                </span>
            </div>
            <div class="cost">
                <span class="num">{{ order.pay }}</span>
                <span>元</span>
            </div>
        </ion-item>

        <ion-item class="paddingtop">
            <span class="">
                评价：
            </span>
            <div class="stars">
                <a id="1" class="button button-icon ion-android-star"></a>
                <a id="2" class="button button-icon ion-android-star"></a>
                <a id="3" class="button button-icon ion-android-star"></a>
                <a id="4" class="button button-icon ion-android-star"></a>
                <a id="5" class="button button-icon ion-android-star"></a>
            </div>
            <div class="content">
              {{ order.evaluation }}
            </div>

        </ion-item>

    </ion-content>
</ion-view>
